.btn-info{

background-color: #31b0d5;

color: white;


}

.btn-info:hover,

.btn-info:focus,

.btn-info:visited{

background-color: #31b0d5;

color: white;


}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
  
  .headerclass {
  padding-right : 30px;
  padding-left : 30px;
  }
  
  .borderbottom {
     /*border-bottom: 1px solid #269abc; */
  }
  a  {
  margin: 0 2px;
  }
  
  header {
  border-bottom: 1px solid #269abc; 
  margin-left: 10px;
  margin-right: 10px;
  }
  
  #header {
  border-bottom: 1px solid #269abc; 
  margin: 10px 0px 30px 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  }
  
  footer {
  border-top:1px solid #269abc;
  margin-left: 10px;
  margin-right: 10px;
  margin: 10px 10px 30px 10px;
   /*margin-bottom: 70px;*/
  
  
  
  /*width:100%;
  left: 0;
  position: absolute;
  bottom: 20px;*/
  
  
  
  }
  
  .page-content{
  margin-left: 10px;
  margin-right: 10px;
  }
  
   .page-description-bg{
   margin-left: 10px;
   margin-right: 10px;
     
   width : auto;
   height: relative;
   background-color:  	#D3D3D3;
   border-radius: 5px;
  }
  
  .page-description{
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 20px;
   margin-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: justify;
   /*text-align: justify;*/
   text-indent: 20px;
     
   /*width : auto;
   height: relative;
   background-color:  	#D3D3D3;
   border-radius: 5px;*/
  }
  
  .test{
   padding-right : 10px;
   padding-right : 10px;
   margin-left: 10px;
   margin-right: 10px;
  
  }
  
  html, body {
  height: 91%;
}
.page-main-content {
  min-height: 100%;
  margin-bottom: 0px; 
}
.page-main-content:after {
  content: "";
  display: block;
}
.page-footer, .page-main-content:after {
  height: 20px; 
}